*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Courier New', Courier, monospace;
}
#uc{
    text-align: center;
    margin-top: 40px;
}
#container{
    background-color: blueviolet;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    padding: 20px; 
    min-width: fit-content;
    display: flex;
}
.input-div{
    display: inline-block;
    margin: 0 auto;
}
label{
    font-weight: bold;
}
.inpt{
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

